#AIchatbot {
	
	margin: 0;
	padding: 0;
	min-height: 70vh;
	
	#chat-container {
		margin: 20px auto;
		border-radius: 5px;
		overflow: hidden;
		height: 70vh;
	}
	.chat-messages {
		max-height: 70vh;
		height: calc(100% - 50px);
	}
	#user-input {
		height: 40px;
		display: flex;
		padding: 5px;
		
	}
	
	#chatbot_input_message {
		flex: 1;
		padding: 5px;
		margin-right: 10px;

	}
	
	.chat-button {
		background-color: #dcf8c6;
		border: none;
		height: 40px;
	}
	.warning {
        background-color: #ffeeba;
        border: 1px solid #ffc107;
        color: #856404;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }
	#data_warn{
		display: none;
	}
	
}