#AIchatbot {
	
	margin: 0;
	padding: 0;
	min-height: 70vh;
	.chat-messages {
		max-height: 70vh;
		height: calc(100% - 50px);
	}
	.warning {
        background-color: var(--pal-accent);
        border: 1px solid darken(var(--pal-accent), 10%);
        color: var(--pal-accent-text);
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }
	#data_warn{
		display: none;
	}
	
}